.wrap {
    margin-left: 13%;
    margin-top: 8%
}

.demo-content {
    border: solid 18px skyblue;
    outline:solid 5px blue;
    width:85%;
}

body{
     background-color:lightgray; 
}
.mynav{
    background-color:skyblue;
    border:2px solid blue; 
}

/* .myJumbo{
    margin:0 auto;
    text-align:center;
    height:15%;
    width:50%;
    font-size:xx-large;
    background-color:skyblue;
    
    
} */

.myfooter{
    /* position:fixed; */
    /* position:relative; */
    margin-left:400px;
    margin-top:80px;
    font-weight:bold;
}
